header {
  margin-bottom: 8rem;
  .logo {
    color: #fff;
  }

  .searchBar {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 100px;
    background: rgba(31, 41, 55, 0.6);
    padding: 0 1rem;

    .search-icon {
      color: #ffffff;
      opacity: 0.10000000149011612;
    }

    &:has(input:focus) {
      outline: 2px solid rgba(100, 100, 100, 0.41);
    }

    input {
      background: transparent;
      color: #fff;

      &:focus {
        outline: none;
      }
    }
  }
}

